<div class="card mt-4 col-sm-11 mx-auto">
  <h5 class="card-header text-center">All Products</h5>
  <div class="card-body">
    <div class="row">
      <app-card class="col-sm-3 mb-2" *ngFor="let i of products; let j=index" [title]="i.ProductName"
      [imageUrl]="i.ProductImageUrl"
      [price]="i.ProductPrice"
      [featuredPrice]="i.ProductFeaturedPrice"
      [description]="i.ProductDescription"
      [id]="i.ProductId"
      [ProductImageUrl]="i.ProductImageUrl"
      >

      </app-card>
    </div>
  </div>
</div>
