<div class="container mx-auto my-4">
<div class="row" *ngIf="!user">


  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mx-3 ">Register</h5>
        <form [formGroup]="RegForm" (ngSubmit)="saveFormReg()" class="mx-3">
          <label>Username</label><br>
          <input type="text" formControlName="username" class="form-control" /><br>
          <label>First Name</label><br>
          <input type="text" formControlName="first_name"class="form-control"/><br>
          <label>Last Name</label><br>
          <input type="text" formControlName="last_name"class="form-control"/><br>
          <label>Email</label><br>
          <input type="email" formControlName="email"class="form-control"/><br>

          <label>Password</label><br>
          <input type="password" formControlName="password" class="form-control"/><br>
          <label>Retype Password</label><br>
          <input type="password" formControlName="password2" class="form-control"/><br>
          <button class="btn btn-primary" type="submit">
            <span>Register</span>
          </button>
        </form>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Login</h5>

        <form [formGroup]="LogForm" (ngSubmit)="saveFormLogin()">
          <label>Username</label><br>
          <input type="text" formControlName="username"class="form-control"/><br>
          <label>Email</label><br>
          <input type="password" formControlName="password"class="form-control" /><br>
          <button class="btn btn-primary" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loginstatus" class="alert alert-primary alert-dismissible fade show mt-4" role="alert">
  <strong>Hi,{{user.username}} </strong> Now ClicK Next for Shipping Information to place Order.
  <a href="shipping/" ><button type="button" class="btn btn-primary">Add Shipping Details</button></a>
  <button type="button" class="btn-close" data-bs-dismiss="alert"  aria-label="Close"></button>
</div>

</div>
